

.posts-container {
  background-color: lightgreen;
  display: flex;
  margin-top: 15px;

}

.errorMsg {
  margin-top: 20px;
  color: rgba(231, 76, 60, 1.0);
  text-align: center;
  font-size: 12px;
  font-weight: bold;
}
